.page-layout {
  color: #ffffff;
  font-family: Source Sans Pro, Helvetica, sans-serif;
  font-weight: 300;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  position: relative;


}
